<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firsttest.mvvmlibrary">

    <application>
        <activity android:name="com.example.firsttest.kotlinmell.activity.ShopListActivity"></activity>
    </application>

</manifest>